<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="EPPlus" version="4.5.3.1" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.11.3" targetFramework="net461" />
  <package id="ini" version="1.0.7" targetFramework="net461" />
  <package id="NLog" version="4.6.2" targetFramework="net461" />
  <package id="NLog.Config" version="4.6.2" targetFramework="net461" />
  <package id="NLog.Schema" version="4.6.2" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.110.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.110.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.110.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.110.0" targetFramework="net461" />
</packages>